:root {
  --toastify-color-dark: #282D37;
  --toastify-font-family: Quicksand;
  --toastify-toast-width: 500px;
  --toastify-toast-bd-radius: 0px;
}

.Toastify__toast-container--top-center {
  position: relative;
  top: -50px;
  height: 90px;
}