@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-drop: rgba(0, 0, 0, 0.25);
  --shadow-inner1: rgba(255, 255, 255, 0.15);
  --shadow-inner2: rgba(0, 0, 0, 0.15);
  --ShadowLightEffectsFilledEnabledBgDrop: rgba(0, 0, 0, 0.25);
  --ShadowLightEffectsFilledEnabledBgInner1: rgba(255, 255, 255, 0.15);
  --ShadowLightEffectsFilledEnabledBgInner2: rgba(0, 0, 0, 0.15);
  --ShadowLightEffectsFilledEnabledLabelDrop: rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}